<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ly.imallbatis.dao.CouponMapper">

    <select id="getByCategory" parameterType="long" resultType="com.ly.imallbatis.model.Coupon">
        select c.* from coupon c
        join coupon_category cc on c.id = cc.coupon_id
        join category c2 on cc.category_id = c2.id
        join activity a on c.activity_id = a.id
        where c2.id = #{id} and a.start_time &lt; NOW() and a.end_time &gt; Now();
   </select>

    <select id="getWholeStoreCoupons" resultType="com.ly.imallbatis.model.Coupon">
        select * from coupon c
        join activity a on c.activity_id = a.id
        where whole_store = 1 and a.start_time &lt; NOW() and a.end_time &gt; NOW();
    </select>

    <select id="getCouponById" resultType="com.ly.imallbatis.model.Coupon">
        select * from coupon where id = #{cid}
    </select>

    <resultMap id="CouponBaseMap" type="com.ly.imallbatis.model.Coupon">
        <result column="id" property="id" />
        <result column="activity_id" property="activityId" />
        <result column="title" property="title" />
        <result column="start_time" property="startTime" />
        <result column="end_time" property="endTime" />
        <result column="description" property="description" />
        <result column="full_money" property="fullMoney" />
        <result column="minus" property="minus" />
        <result column="rate" property="rate" />
        <result column="remark" property="remark" />
        <result column="whole_store" property="wholeStore" />
        <result column="type" property="type" />
        <collection property="categoryList" ofType="com.ly.imallbatis.model.Category">
            <result column="c_id" property="id"/>
            <result column="c_name" property="name" />
            <result column="c_description" property="description" />
            <result column="c_img" property="img" />
        </collection>
    </resultMap>

    <select id="getAvailableCoupons" parameterType="long" resultMap="CouponBaseMap">
        select c.*,
        c2.id c_id, c2.name c_name, c2.description c_description, c2.img c_img
        from coupon c
        join user_coupon uc on c.id = uc.coupon_id
        join user u on uc.user_id = u.id
        join coupon_category cc on c.id = cc.coupon_id
        join category c2 on cc.category_id = c2.id
        where uc.status = 1
        and u.id = #{uid}
        and c.start_time &lt; NOW()
        and c.end_time &gt; NOW()
        and uc.order_id is null;
    </select>

    <select id="getUserCoupons" parameterType="long" resultMap="CouponBaseMap">
        select c.*,
        c2.id c_id, c2.name c_name, c2.description c_description, c2.img c_img
        from coupon c
        join user_coupon uc on c.id = uc.coupon_id
        join user u on uc.user_id = u.id
        join coupon_category cc on c.id = cc.coupon_id
        join category c2 on cc.category_id = c2.id
        where uc.status = 2
        and u.id = #{uid}
        and c.start_time &lt; NOW()
        and c.end_time &gt; NOW()
        and uc.order_id is null;
    </select>

    <select id="getExpiredCoupons" parameterType="long" resultMap="CouponBaseMap">
        select c.*,
        c2.id c_id, c2.name c_name, c2.description c_description, c2.img c_img
        from coupon c
        join user_coupon uc on c.id = uc.coupon_id
        join user u on uc.user_id = u.id
        join coupon_category cc on c.id = cc.coupon_id
        join category c2 on cc.category_id = c2.id
        where uc.status &lt;&gt; 2
        and u.id = #{uid}
        and c.end_time &lt; NOW()
        and uc.order_id is null;
    </select>

</mapper>