<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ly.imallbatis.dao.SkuMapper">

    <resultMap id="BaseMap" type="com.ly.imallbatis.model.Sku">
        <result column="id" property="id" />
        <result column="price" property="price" />
        <result column="discount_price" property="discountPrice" />
        <result column="online" property="online" />
        <result column="img" property="img" />
        <result column="title" property="title" />
        <result column="spu_id" property="spuId" />
        <result column="category_id" property="categoryId" />
        <result column="root_category_id" property="rootCategoryId" />
        <result column="specs" property="specsTemp" />
    </resultMap>

    <select id="getSkuListByIds" parameterType="long" resultMap="BaseMap">
        select * from sku
        where id in
        <foreach collection="ids" item="id" index="index" open="(" close=")" separator=",">
            #{id}
        </foreach>
        and delete_time is null and online = 1

    </select>

</mapper>