<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ly.imallbatis.dao.UserMapper">

    <select id="findByOpenid" parameterType="string" resultType="com.ly.imallbatis.model.User">
        select * from user where delete_time is null;
    </select>

    <insert id="save" parameterType="com.ly.imallbatis.model.User">
        insert into user (openid, email) values (#{openid}, #{email})
    </insert>

    <select id="getUserById" parameterType="long" resultType="com.ly.imallbatis.model.User">
        select * from user where id = #{id};
    </select>
    <select id="findByEmail" resultType="com.ly.imallbatis.model.User">
        select * from user where email = #{email}
    </select>


</mapper>